//Gallery
.jw-gallery {
}

.jw-gallery__grid {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.jw-gallery__item {
  margin: 0 var(--gap-10) 0;
}

@supports (display: grid) {
  .jw-gallery__grid {
    display: grid;
    -ms-display: grid;
    grid-gap: var(--gap-20);

    /* Columns and Rows */
    grid-template-columns: 1fr;
    grid-auto-flow: row dense;
    @include mq($from: desktop) {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      max-width: var(--container);
      margin: 0 auto;
    }
  }
  .jw-gallery__item {
    margin: 0;
  }
}

.jw-gallery__item {
  //Alignment
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  grid-column-start: auto;
  grid-row-start: auto;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.jw-gallery__item:hover:after {
  opacity: 0;
}

.jw-gallery__details {
  position: relative;
  z-index: 1;
  @extend %jw-heading-xs;
  padding: var(--gap-10) var(--gap-10) var(--gap-10) 0;
  color: var(--meta);
}

@media (min-width: 768px) {
  .jw-gallery__item--full {
    grid-column: 1/-1;
    grid-row-end: span 2;
  }
}
