dialog::backdrop {
  backdrop-filter: blur(3px);
}

.block--modal {
  justify-content: center;
}

.modal {
  position: relative;
  z-index: 998;
  position: absolute;
  top: 20px;
  max-width: 90%;
  @include mq($from: desktop) {
    max-width: 70ch;
    top: 10vh;
  }

  .modal__close {
    font-size: 44px;
    border: 0;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
