<script type='application/ld+json'>{"@context":"https://schema.org","@type":"WebSite","@id":"{{ global.siteUrl }}#website","url":"{{ global.siteUrl }}","name":"{{ global.companyName }}","logo":"{{ global.siteUrl }}/images/og/logo-160x60.png"}</script>