{% set bodyClass = "jw-contact" %}
{% set pageTitle = "Contact" %}
{% set pageName = "contact.html" %}

{% extends "layout/_layout.njk" %}

{% block content %}
<div class="jw-content__inner">
  <h1>Contact</h1>
  <form method="POST" action="https://formspree.io/dogwonder@gmail.com" data-validate>
    <p>
      <label for="name">Your Name:</label>
      <input type="text" name="name" title="Please add your name" required>
    </p>
    <p>
      <label for="_replyto">Your Email:</label>
      <input type="email" autocapitalize="none" autocorrect="off" name="_replyto" pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
    </p>
    <p>
      <label for="message">Message:</label>
      <textarea name="message" required></textarea>
    </p>
    <p>
      <input type="submit" value="Send">
    </p>
  </form>
</div>
{% endblock %}

{% block scripts %}
  <script>
  {# Validation https://github.com/cferdinandi/validate #}
  validate.init();
  </script>
{% endblock %}
