{% set bodyClass = "jw-about" %}
{% set pageTitle = "Cookie Settings" %}

{% extends "layout/_layout.njk" %}

{% block content %}
<div class="jw-content__inner">
    <h1>Cookie Policy</h1>

    <p>We use cookies to help improve your experience of {{ global.siteUrl }}. This cookie policy is part of {{ global.companyName }} <a href="./privacy.html">privacy policy</a>, and covers the use of cookies between your device and our site. We also provide basic information on third-party services we may use, who may also use cookies as part of their service, though they are not covered by our policy.</p>

    <h2>Types of cookies we use</h2>

    <h3>Essential cookies</h3>
    <p>Essential cookies are crucial to your experience of a website, enabling core features like user logins, account management, shopping carts and payment processing. We use essential cookies to enable certain functions on our website.</p>

    <h3>Cookies that measure website use</h3>  
    <p>Similar to most websites, we use analytics to improve user experience and {{ global.siteUrl | replace("https://", "") | upper }}’s functionality. We use external services, including but not limited to Google Analytics, to provide real-time reporting of, among other things, your use and navigation of {{ global.siteUrl | replace("https://", "") | upper }} such as</p>
    <ul>
 	    <li>how you got to the site</li>
 	    <li>the pages you visit on {{ global.siteUrl | replace("https://", "") | upper }} and how long you spend on each page</li>
 	    <li>what you click on while you’re visiting the site</li>
    </ul>

    <h3>Cookies that help with our communications and marketing</h3>
    <p>These cookies may be set by third party websites like Facebook and YouTube and and do things like measure how you view videos that are on {{ global.siteUrl | replace("https://", "") | upper }}.</p>
    
    <hr />
    
    <h2>Managing your cookie settings</h2>
    <p>You can set your browser to control the cookies that are accepted on your device. For information on how to do this, visit the <a href="https://www.allaboutcookies.org/manage-cookies/" rel="noopener">All About Cookies website</a>.</p>
        
</div>
{% endblock %} 